/***** BASE STYLES *****/

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #2b2b2b;
}

header {
  full-width: 1200px;
  height: 0px;
}

image {
  border-style: solid;
  border-color: #6dad24;
  border-width: 6px;
}

#top {
    height: 190px;
    full-width: 800px;
    padding-top: 5px;
    padding-left: 10px;
}

.welcome {
  color: #6dad24;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
}

.roaming {
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
}


#bottom {
    height: 240px;
    border-top: solid;
    border-width: thin;
    border-color: #e6e6e6;
    padding-top: 10px;
    padding-left: 10px;
}

.pickings {
  color: black;
}

footer {
    text-align: center;
    border-top: solid;
    border-width: thin;
    border-color: #e6e6e6;
    }



/***** GRID *****/

.full-width {
    width: 1240px;
    margin: 0 auto;
}

.half-width {
    width: 620px;
    float: left;
}

.third-width {
    width: 400px;
    float: left;
    padding: 0px 0px 0px 0px;
}

/***** HEADER CODE *****/


header {
    height: 550px;
    background:
    background-size:
}

nav {
    float: right;
    padding: 80px 0px;
}
nav ul li{
    display: inline-block;
    float: clear;
}
nav ul li a {
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 16px;
    font-weight: bold;
    color: #6dad24;
    padding-right: 30px;
}

header h1 {
  padding: 70px 0px; 0px 0px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #6dad24;
  text-transform: uppercase;
  font-size: 30px;
}

img  {
  border: 5px solid color: #6dad24;
  padding-bottom: 0px;
}


/***** TOP CODE *****/

#top .full-width
    padding: 100px 0 100px 0px;
}

#top p {
  font-size: 30px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #black;
}


/***** BOTTOM CSS CODE *****/

#bottom .full-width {
    font-family: 'Source Sans Pro', sans-serif;
    padding-top: 80px 0px 80px 0px;
}

#bottom p {
  font-size: 18px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #black;
}

#bottom h3 {
  text-transform: uppercase;
  }

#bottom .specials p {
  color: #6dad24;
  font-family: 'Source Sans Pro', sans-serif;
}



/***** FOOTER *****/

.fresh {
  font-family: 'Pacifico', cursive;
  color: #6dad24;
}
